<div class="search-result-wrapper">
    <section>
        <h1>
            <span *ngIf="total > 0">{{total | number}} </span>
            <span *ngIf="total === 0">Unfortunately, no </span>
            <span>results found.</span>
        </h1>
        <h2 *ngIf="total > 0">Enjoy browsing your results for "{{queryItem}}"</h2>
        <div *ngIf="total === 0">
            <p>You may try:</p>
            <ul>
                <li>Pay attention to the spelling.</li>
                <li>Choose english language.</li>
                <li>Use synonyms or general terms.</li>
            </ul>
        </div>
    </section>
</div>