@import "../../../assets/scss/company-design.scss";
@import "../../../assets/scss/mixin.scss";
section {
    padding-block: 4rem;
    background: linear-gradient(65deg, rgba($clr-primary, 0.6) 0%, rgba($clr-accent, 0.8) 100%);
    * {
        @include flex(center, center);
        max-width: 75.5rem;
        margin-inline: auto;
        padding-inline: $padding-wrapper;
    }
}