@import "./../../../assets/scss/mixin.scss";
@import "./../../../assets/scss/company-design.scss";
section {
    max-width: 75.5rem;
    margin-inline: auto;
    padding-inline: $padding-wrapper;
    h1 {
        font-size: 2rem !important;
        line-height: 2.5rem !important;
    }
}

mat-card {
    max-width: 75.5rem;
    margin-inline: auto;
}

.photo-list {
    @include flex(center, unset);
    gap: 0.25rem;
    margin-block: 1rem;
}

.img-photo {
    display: block;
    width: 100%;
    &:hover {
        filter: brightness(0.5);
    }
}

.btn-photo {
    position: relative;
    &:hover {
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, .25) 70%, rgba(0, 0, 0, .25) 100%);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.paginator {
    @include flex(flex-end, center);
}

.loadMore {
    @include flex(center);
    padding: 2rem;
    button {
        padding: .5rem 6rem;
    }
}

.min-height {
    min-height: calc(100vh - 85px - 148px - 2rem);
}

.responsive-col {
    display: none;
}

@media(max-width:540px) {
    .photo-list {
        @include flex(unset, center, column);
    }
    .responsive-col {
        display: unset;
    }
    .three-col {
        display: none;
    }
}

@media(max-width: 380px) {
    section {
        padding-inline: 1rem;
    }
}