@import "../../../../assets/scss/company-design.scss";
@import "../../../../assets/scss/mixin.scss";
.paginator-section {
    @include flex(center, flex-end, column);
    max-width: 75.5rem;
    margin-inline: auto;
    padding-inline: $padding-wrapper;
    padding-block: 1rem;
}

.paginator {
    @include flex(unset, center);
    gap: .5rem;
    input {
        width: 2.5rem;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    form {
        @include flex(unset, center);
        gap: .5rem;
    }
    .paginator-child {
        @include flex(center, center);
        gap: .25rem;
        img {
            height: 1rem;
            width: 1rem;
        }
    }
}

@media (max-width:580px) {
    .paginator {
        @include flex(unset, unset, column);
        .paginator-child:first-child {
            margin-bottom: 1.5rem;
        }
    }
}

@media(max-width: 380px) {
    .paginator-section {
        padding-inline: 1rem;
    }
}