@import "../../../assets/scss/company-design.scss";
@import "../../../assets/scss/mixin.scss";
.min-height {
    min-height: calc(100vh - 85px - 148px - 2rem);
}

.img-author {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.details-card {
    max-width: 75.5
}

section {
    max-width: 75.5rem;
    margin-inline: auto;
    padding: $padding-wrapper;
}

mat-divider {
    margin-bottom: 1rem;
}

.go-back {
    @include flex(center);
    button {
        width: 10rem;
    }
}

@media(max-width: 380px) {
    section {
        padding-inline: 1rem;
    }
}