@import "../../../assets/scss/company-design.scss";
@import "../../../assets/scss/mixin.scss";
section {
    max-width: 75.5rem;
    margin-inline: auto;
    padding: $padding-wrapper;
}

.head {
    min-height: calc(100vh - 85px - 148px - 6rem);
}

@media (max-width: 540px) {
    section {
        padding: 1rem;
    }
    .head {
        min-height: calc(100vh - 85px - 148px - 4rem);
    }
}