/* You can add global styles to this file, and also import other style files */

@import "assets/scss/edit-md.scss";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Titillium Web', "Helvetica Neue", sans-serif;
}

h1 {
    font-family: 'Titillium Web' !important;
    font-weight: 600 !important;
    font-size: 3rem !important;
    line-height: 4rem !important;
}

h2,
h3,
button,
p,
span,
a {
    font-family: 'Titillium Web' !important;
}